*{
  margin: 0;
  padding: 0;
  font-family: "Sanchez", serif;
}
 ::-webkit-scrollbar {
  display: none;
}
body {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

@keyframes prof {
  0% { opacity: 0; }
  10% { opacity: 1; }
  20% { opacity: 0.8; }
  30% { opacity: 1; }
  40% { opacity: 0.6; }
  50% { opacity: 1; }
  60% { opacity: 0.4; }
  70% { opacity: 1; }
  80% { opacity: 0.2; }
  90% { opacity: 1; }
  100% { opacity: 0; }
}

.prof {
	-webkit-animation: prof 2s linear infinite both;
	        animation: prof 2s linear infinite both;
}

.wid{
  overflow-x: hidden;
  width: auto;
  position: relative;
}
ul li{
  list-style-type: none;
}
div.col{
    padding: 0;
}
header{
    position:sticky !important;
    top: 0;
    height:100vh;
    overflow: hidden;
    background-color: #040b14;
    color: white;
    padding: 20px 0px;
}

.profile{
    display: flex;
    width:auto ;
    height:150px;
    border: solid 8px grey;
    justify-self: center;
    justify-content: center;
}
.menu{
    padding: 0%;
}


h1{
    color: white;
    font-size:1.5em;
}

a{
    text-decoration: none;
}
header .social-links {
    margin: 0 2px;
    padding: 0px 10px;
  }
  
  header .social-links a {
    font-size: 20px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background: color-mix(in srgb, white, transparent 90%);
    color: white;
    margin: 0 2px;
    border-radius: 50%;
    text-align: center;
    width: 50px;
    height: 50px;
    transition: 0.3s;
  }
  col.a{
    padding: 0;
  }



  #navmenu ul{
    padding: 0%;
  }
  #navmenu{
    text-align: left;
    margin-left: 50px;
    margin-top: 10px;
  }

  #navmenu li{
    list-style-type: none;
    padding: 20px;
  }
  #navmenu a{
    list-style-type: none;
    color:grey;
    font-size: larger;
    letter-spacing: 1px;
  }
  #navmenu a:hover{
    color: rgb(255, 255, 255);
  }
  #navmenu a:focus{
    color: white;
  }
  #navmenu a:active {
    color: white;
  }
.backgrd{
    position: relative;
    opacity: 0.9;
}
.overall{
 padding: 0;
  margin: 0;
}


.hero{
  width: 50%;
    position: absolute;
    top: 10%;
  transform: translate(50%, 50%); 
   font-size: xx-large;
    color: black;
    z-index: 1;
}
#myname{
  display: inline-block;
  width: 50%;
  font-size: 2em;
  font-weight: bold;
  text-shadow: 5px 5px 20px black;
}
#typed{
  display: inline-block;
  width: 55%;
  text-decoration:underline aliceblue 2px;
  color: black;
  text-shadow: 10px 10px 20px white;
}




#about{
  background-image: url(../img/back3.png);
  background-repeat: no-repeat;
  background-size: cover;
  padding-right: 10px;
  
}
.about{
  font-size: 3em;
  font-weight: bold;
  padding: 5px; 
  color: black;
  text-decoration: underline;
  margin: 0;
}

.aboutme{
  padding:5px 20px;
  color: white;
}

.demo{
  padding: 0px;
  padding-top: 20px;
  display: flex;
  justify-content: space-evenly;
}
.prof{
  width: 120px;
  height: auto;
  margin: 0px 20px;
  border: solid 1px white;
}

.aboutper span{
  color: white;
}

strong{
  color:black
}
.aboutper li{
  list-style-type: none;
  padding: 5px 0px 20px 0px;
  letter-spacing: 0.006em;
  margin-bottom: 0px !important;
}

.skill{
  text-align: center;
  color: black;
  padding:10px 0px;
  text-decoration: underline 1px;
}
.dem{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.dem li{
  list-style-type:none;
  color: white;
}
#Skill{
  padding-bottom: 50px;
  margin-bottom: 0%;
  }
  
  .logo{
    width:50px ;
    height:50px ;
  }



.education{
  padding-left: 50px !important;
}

#resume{
  margin-top: 0%;
}

.container-abt{
  display: flex;
  padding-top: 30px;
}

#tomail{
  color: white;
}

.tex{
  padding: 0px 30px;
}

.lis{
  padding: 0px 100px;
  display: flex;
  justify-content: space-around;
}
.lis li{
  list-style-type: none;
}

.hd{
  font-weight: bold;
  font-size: 1.5em;
  text-decoration: underline;
  color: black;

}
.btnbox{
  font-weight: bold;
  width: 20%;
  box-shadow: 1px 1px 10px white;
}
.lis a{
  color: rgb(255, 255, 255);
}

.year{
  padding: 0%;
  margin: 0%;
}

.ehead{
  font-size: 1.1em;
}

.subhead{
  text-align: end;
}

p{
  margin-bottom:5px;
}

.wpas{
  padding-left: 5px;
}
.staricon{
  margin-right: 10px;
}

#projects{
  background: #283048; 
  background: -webkit-linear-gradient(to right, #859398, #283048);  
  background: linear-gradient(to right, #859398, #283048); 
  padding: 20px;

}

#resume{
  background: #16222A; 
  background: -webkit-linear-gradient(to right, #3A6073, #16222A);
  background: linear-gradient(to right, #3A6073, #16222A); 
  padding: 20px;
  color: white;
}

#contact{
  padding: 0px 0px 0px 0px;
  background: #0F2027; 
  background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027);
  background: linear-gradient(to right, #2C5364, #203A43, #0F2027);
}


.in{
  display: flex;
  width: 22%;
  justify-self: center;
  margin: 10px 0px;
  color: black;
}

form{
  color: white;


 text-align: center;
}

.pro{
  width: auto;
  height: 200px;
}
.card{
  box-shadow: 1px 1px 10px white;
}

.tes{
  font-size: 1.5em;
}

  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
.cards{
  display: flex;
  justify-content: space-around;
}

.tes { animation-name: tes }
@keyframes tes {
    25% {  transform: rotateX(30deg) translateY(10px) rotate(-13deg); }
    50% { transform: translateY(-22px) rotate(3deg) scale(1.1);  }
}

@media screen and (max-width: 800px) {
  .skill{
    text-align: center;
    color: black;
    padding:2px 0px;
    text-decoration: underline 1px;
  }
  .dem{
    display: flex;
    flex-direction: row;
    justify-content: none;
  }
  #Skill{
    padding-bottom: 5px;
    margin-bottom: 0%;
    }
    
    .logo{
      width:20px ;
      height:20px ;
    }
    .dem li{
      display: grid;
      margin-right: 10px;
      margin-left: 0;
      list-style-type:none;
      color: white;
      font-size: 0.4em;
    }

    .tex{
      padding: 0px 20px ;
    }

    .lis{
      padding: 0px 20px;
      display: block;
      justify-content: space-around;
    }
    .lis li{
      list-style-type: none;
    }
    .menu{
      display: none;;
  }
  .hero{
    position: absolute;
    top: 10%;
    transform: translate(10%,50%); 
    font-size:large;
    color: black;
    z-index: 1;
    padding: 0px 5px;
  }
  #myname{
  font-size: 1em;
  font-weight: bold;
  text-shadow: 5px 5px 20px black;
  }
  #typed{
  text-decoration:underline aliceblue 1px;
  color: black;
  text-shadow: 10px 10px 20px white;
  }
  .backgrd{
  width: 100%;
  height: 500px !important;
  position: relative;
  opacity: 0.9;
  }

  p,li{
    font-size: small;
  }
  h1,h2,h3,h4,h5,h6{
    font-size: larger;
  }
  .skill{
    font-size: larger;
  }
  .hd{
    font-size: larger;
  }
  .about{
    font-size: x-large;
  }

.demo{
  display: inline-block;
  justify-self: center;
}
.aboutper li{
  padding: 2px;
  width: 100%;
}
.prof{
  margin-left: 10%;
}

.education{
  padding-left: 10px !important;
}

.year{
  font-size: 0.7em;
}

.ehead{
  font-size: 0.7em;
}

.subhead{
  text-align: end;
}
.shoow{
  display: block;
  padding: 0px 20px;
}
.overall{
  display: block;
  width: 120%;
}
.btnbox{
  font-weight: bold;
  font-size: 10px;
  width: auto;
  box-shadow: 1px 1px 10px white;
}
.cards{
  display: block;
}
.card{
  margin:5px 0px;
  width: 100% !important;
}
.pro{
  width: auto;
  height: 200px;
}
.card-text p{
  font-size: 0.7em;
}
.view{
  width: 50%;
  font-size: smaller;
  padding:2px;
}

.tes{
  font-size: 1.3em;
}

.in{
  display: flex;
  width: 50%;
  justify-self: center;
  margin: 10px 0px;
  color: black;
}
.de{
  padding: 5px !important;
}
#contact{
  padding: 0px !important;
}

.backgrd{
  height: max-content;
}

.wid
{
  width: 100%;
}
}
.backgrd {
  width: 100%;
  height: 100vh;
  object-fit: cover;
  object-position: center;
}

@media screen and (max-width: 768px) {
  .backgrd {
    height: 50vh;
    min-height: 300px;
  }
  
  /* Form styling for mobile */
  #myForm {
    max-width: 90%;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .form-group {
    width: 100%;
    margin-bottom: 20px;
    text-align: center;
  }
  
  .in {
    width: 100%;
    max-width: 400px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ddd;
    margin: 0 auto;
  }
  
  .tes {
    display: block;
    margin-bottom: 5px;
    text-align: center;
    font-weight: 500;
  }
  
  .de {
    width: 100%;
    max-width: 200px;
    margin: 10px auto;
  }
  
  /* Center the form buttons */
  .form-group.py-5 {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    width: 100%;
  }
}